# Build Headers
bin/
obj/
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.tlog
*.suo
*.user
*.aps
*.res
*.pch
*.lib
*.dll
*.ipch

# Node
node_modules/
.env
*.log

# VS
.vs/
x64/
Debug/
Release/

# Agent
FactoryAgent/x64/
FactoryAgent/Debug/
FactoryAgent/Release/
